*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Show action buttons on card hover (desktop only) */
@media (min-width: 1024px) {
  [data-card]:hover [data-refresh] button {
    opacity: 1 !important;
  }
}
